alias gits='git status'
alias gita='git add'
alias gitaa='git add .'
alias gitc='git commit -S'
alias gitco='git checkout'
alias gitd='git diff'
alias gitds='git diff --staged'
alias gitm='git merge'
alias gitf='git fetch'
alias gitl='git log'
alias gitp='git push'
alias gitrmu='git remote update --prune'

alias shortcut='nvim ~/.aliases'
alias salias='source ~/.aliases'
alias updatesys="sudo apt-get update && sudo apt-get upgrade"
alias reload-udev="sudo udevadm control --reload-rules && sudo udevadm trigger"

alias ls='eza'
alias ll='eza -l --git'
alias lt='eza -T'
alias lg='lazygit'
alias cat='bat'
alias tn='tmux new'
alias ta='tmux a'
